@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/Libre_Franklin/LibreFranklin-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/Libre_Franklin/LibreFranklin-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Libre_Franklin/LibreFranklin-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Libre_Franklin/LibreFranklin-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Libre_Franklin/LibreFranklin-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/Libre_Franklin/LibreFranklin-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Libre_Franklin/LibreFranklin-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Libre_Franklin/LibreFranklin-BoldItalic.ttf') format('truetype');
}